@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
}

.modal {
    background-image: url(back.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 768px;
    max-height: 768px;
    height: 700px;
    flex: 1;
    box-shadow: 0px 0px 40px rgb(51, 51, 51);
    background-color: rgba(180, 255, 200, 0.6);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.modal-content-image {
    background-image: url(form.png);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    filter: opacity(0.9);
}

.modal-content-info {
    width: max-content;
    padding: 20px 40px;
}

.modal-content-info * {
    display: block;
    text-align: center;
}

.modal-content-info h2 {
    font-size: 64px;
}

.modal-content-info input,
.modal-content-info button {
    width: 350px;
    padding: 20px;
    margin: 20px 0px;
    text-align: center;
    font-size: 20px;
}

.modal-content-info button {
    width: 100%;
    background-color: rgb(47, 47, 156);
    border: 3px solid rgb(47, 47, 156);
    border-radius: 5px;
    color: white;
}

.modal-content-info input::placeholder {
    text-align: center;
}