@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}


body{
    background-color: #201F1F;
    padding: 17px 90px;
    color: white;
}



header *{
    vertical-align: middle;
}

.site-title{
    color: #EE5626;
    font-size: 24px;
    font-weight: bold;
    margin-left: 9px;
}

h1{
    text-align: center;
    font-size: 48px;
    margin: 37px 0px 10px;
}


.author{
    width: max-content;
    margin: 19px auto 66px;
}

.author *{
    vertical-align: middle;
}

.author figcaption{
    display: inline-block;
    margin-left: 9px;
}

.author h3{
    font-size: 12px;
    font-weight: 600;
    background: linear-gradient(#EE5626 50%, #35109F 91%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.author p{
    font-size: 8px;
}

.hero{
    max-width: 558px;
    width: 100%;
    margin: 66px auto;
}

.hero img{
    width: 100%;
}

.hero figcaption{
    font-size: 18px;
    margin-top: 37px;
}


footer{
    margin: 62px 0px 44px;
    text-align: center;
}

.orange-color{
    color: #EE5626;
}