h2{
    font-size: 28px;
    line-height: 38px;
    text-align: center;
}

.main-info p{
    font-size: 14px;
    line-height: 22px;
}

.pre-header{
    letter-spacing: 5px;
    font-size: 14px;
}

h3{
    font-size: 24px;
    line-height: 32px;
}

.footer-started p{
    font-size: 14px;
}

.footer-started button{
    font-size: 14px;
    width: 150px;
    height: 60px
}

h4{
    font-size: 24px;
}

.footer-field{
    height: 60px;
}



.footer-links h5{
    font-size: 16px;
}

.footer-links li{
    font-size: 14px;
    margin: 30px 0px;
}

.footer-privacy{
    font-size: 12px;
}

.footer-privacy, .footer-social{
    gap: 20px;
}

