.header-about{
    padding: 134px 0px;
    width: 414px;

}

.header-social p{
    writing-mode: horizontal-tb;
}

.header-social{
    flex-direction: row;
    position: static;
    justify-content: center;
}

.main-info img{
    width: 80vw;
}


.slider-element p{
    display: none;
}

.slider-element .pre-main-info{
    color: black;
}

.slider-element h2{
    text-transform: uppercase;
    padding: 50px;
}

main{
    margin: 20px;
    overflow-x: hidden;
}
.slider{
    margin-left: -50px;
    
}

h2{
    text-align: center;
}
