h2{
    font-size: 48px;
    line-height: 70px;
}

.pre-header{
    font-size: 16px;
}

.main-info{
    font-size: 14px;
}

.main-info img{
    width: 40%;
}

h1 span{
    font-size: 80px;
}

h1{
    font-size: 72px;
}

.slider-element h2{
    font-size: 36px;
    line-height: 48px;
}

.slider-element p{
    font-size: 14px;
    line-height: 18px;
}


.pre-main-info-line{
    width: 72px !important;
    padding: 0px;
}


.slider-element{
    max-height: 985px;
    height: 100%;
}


.slider{
    height: 50vh;
}