main{
    margin: 100px;
    gap: 100px;
}


header{
    min-height: 100vh;
}

h1{
    font-size: 66px;
}

.main-info{
    flex-direction: column-reverse !important;
    gap: 50px;
}

.main-info img{
    width: 100%;
    height: 60vw;
    object-fit: cover !important;
    
}

.img-top img{
    object-position: top;
}
.img-bottom img{
    object-position: bottom;
}


.footer-info{
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.footer-links{
    width: 100%;
}

.footer-privacy-social, .footer-started{
    justify-content: space-around;
    
}

.copyright{
    margin-top: 30px;
}

h3{
    font-size: 36px;
}


.slider{
    width: 100vw;
    margin-left: -130px;
}

.slider-element{
    width: 100%;

}

